* {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: 0.01em;
  background: linear-gradient(124.09deg, #783A96 5.82%, #4E729E 92.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px; }
  @media only screen and (max-width: 576px) {
    h1 {
      font-size: 19px;
      line-height: 120%;
      letter-spacing: 0.03em; } }

h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: #4B69D3;
  text-align: center; }
  @media only screen and (max-width: 576px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: #515151;
  text-align: center; }
  @media only screen and (max-width: 576px) {
    h3 {
      font-size: 19px; } }

p {
  font-size: 24px;
  line-height: 150%;
  color: #4B4B4B;
  letter-spacing: 0.01em; }
  @media only screen and (max-width: 576px) {
    p {
      font-size: 16px;
      line-height: 150%; } }

.inner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 132px;
  flex-wrap: wrap; }
  @media only screen and (max-width: 576px) {
    .inner {
      padding-top: 100px; } }

.container-default {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.frame-text-wrapper,
.frame-image-wrapper {
  width: 50%; }
  .frame-text-wrapper img,
  .frame-image-wrapper img {
    width: 100%;
    max-width: 400px; }
  @media only screen and (max-width: 576px) {
    .frame-text-wrapper,
    .frame-image-wrapper {
      width: 100%;
      text-align: center; }
      .frame-text-wrapper img,
      .frame-image-wrapper img {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto; } }

.frame-image-wrapper {
  text-align: center; }

.frame-1 {
  background-image: url("../images/background/lg/Frame 1.png"); }

.frame-2 {
  background-image: url("../images/background/lg/Frame 2.png"); }
  .frame-2 .inner {
    flex-direction: column; }

.frame-3 {
  background-image: url("../images/background/lg/Frame 3.png"); }
  .frame-3 .inner {
    flex-direction: column; }

.frame-4 {
  background-image: url("../images/background/lg/Frame 4.png"); }
  .frame-4 .inner {
    flex-direction: column;
    flex-wrap: nowrap; }

.docSlider-button {
  width: 12px;
  height: 12px;
  background-color: #C4C4C4;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s; }
  .docSlider-button.selected {
    width: 20px;
    height: 20px;
    background-color: #753A96;
    transition: all 0.5s; }
  @media only screen and (max-width: 576px) {
    .docSlider-button.selected {
      width: 12px;
      height: 12px; } }

.card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px; }
  .card-wrapper .card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: 510px;
    border: 4px solid #605CAE;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    padding: 54px 30px; }
    .card-wrapper .card-1 img {
      width: 130px;
      height: auto; }
    .card-wrapper .card-1 .card-text {
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0.03em;
      color: #000000; }
    .card-wrapper .card-1 .title-wrapper {
      text-align: center; }
    .card-wrapper .card-1 .value-title {
      font-weight: 900;
      font-size: 40px;
      line-height: 110%;
      letter-spacing: 0.01em; }
    .card-wrapper .card-1 .value-price {
      font-weight: 900;
      font-size: 33px;
      line-height: 110%;
      letter-spacing: 0.03em; }
      .card-wrapper .card-1 .value-price:before {
        content: 'a partir de';
        font-size: 10px;
        display: block;
        text-align: center;
        font-family: 'Roboto';
        font-weight: normal; }
    .card-wrapper .card-1 .value-text {
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.03em;
      color: #000000; }
  @media only screen and (max-width: 576px) {
    .card-wrapper {
      flex-direction: column;
      align-items: center; }
      .card-wrapper .card-1 {
        flex-direction: row;
        width: 100%;
        max-width: 300px;
        height: 145px;
        padding: 20px 25px;
        margin-bottom: 20px; }
        .card-wrapper .card-1 img {
          width: 60px;
          margin-right: 20px; }
        .card-wrapper .card-1 .card-text {
          font-size: 14px;
          text-align: center; }
        .card-wrapper .card-1 .title-wrapper {
          padding-right: 10px;
          width: 50%;
          text-align: center; }
        .card-wrapper .card-1 .value-title {
          font-size: 20px; }
        .card-wrapper .card-1 .value-price {
          font-size: 20px; }
        .card-wrapper .card-1 .value-text {
          font-size: 12px;
          width: 50%; } }
  .card-wrapper .card-portfolio {
    display: flex;
    flex-direction: column; }

.internal-page {
  width: 100%;
  padding-top: 132px; }
  @media only screen and (max-width: 576px) {
    .internal-page {
      padding-top: 100px; } }

.card-2-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .card-2-wrapper .card-2 {
    height: 100%; }
    .card-2-wrapper .card-2 img {
      max-height: 100%; }
  @media only screen and (max-width: 576px) {
    .card-2-wrapper {
      max-height: 300px; }
      .card-2-wrapper .card-2 {
        width: 100%; } }

.inner-footer {
  height: 197px;
  width: 100vw;
  margin-top: 80px;
  background-color: #252A9D; }
  @media only screen and (max-width: 576px) {
    .inner-footer {
      height: 140px; } }

footer.default {
  background-image: url("../images/background/footer.png");
  height: 432px;
  width: 100%; }
footer .container-default {
  height: 100%; }
footer .content {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
footer .footer-nav {
  padding-top: 0px;
  margin-top: 0px; }
  footer .footer-nav li {
    list-style: none;
    margin-bottom: 10px; }
    footer .footer-nav li a {
      font-family: 'Roboto';
      font-size: 33px;
      line-height: 110%;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      text-transform: uppercase; }
    footer .footer-nav li.selected a {
      font-weight: 900; }
@media only screen and (max-width: 576px) {
  footer.default {
    background-image: url("../images/background/footer.png");
    height: 205px; }
  footer .content {
    flex-direction: column;
    justify-content: space-around; }
  footer .area-1 {
    display: none; } }

/*# sourceMappingURL=main.css.map */
