// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$header-height: 132px;
$header-height-sm: 100px;

*{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 0.01em;
    background: linear-gradient(124.09deg, #783A96 5.82%, #4E729E 92.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    @media only screen and (max-width: $breakpoint-sm){
        font-size: 19px;
        line-height: 120%;
        letter-spacing: 0.03em;
    }
}

h2{
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #4B69D3;
    text-align: center;
    @media only screen and (max-width: $breakpoint-sm){
        font-size: 24px;
    }
}
h3{
    font-weight: 900;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #515151;
    text-align: center;
    @media only screen and (max-width: $breakpoint-sm){
        font-size: 19px;
    }
}
p{
    font-size: 24px;
    line-height: 150%;
    color: #4B4B4B;
    letter-spacing: 0.01em;
    @media only screen and (max-width: $breakpoint-sm){
        font-size: 16px;
        line-height: 150%;
        // letter-spacing: 0.03em;
    }
}

.inner{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: $header-height;
    flex-wrap: wrap;
    @media only screen and (max-width: $breakpoint-sm){
		padding-top: $header-height-sm;
	}
}

.container-default{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.frame-text-wrapper,
.frame-image-wrapper{
    width: 50%;
    img{
        max-width: 100%;
    }
    @media only screen and (max-width: $breakpoint-sm){
        width: 100%;
        text-align: center;
        img{
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.frame-1{
    background-image: url('../images/background/lg/Frame\ 1.png');
}
.frame-2{
    background-image: url('../images/background/lg/Frame\ 2.png');
    .inner{
        flex-direction: column;
    }
}
.frame-3{
    background-image: url('../images/background/lg/Frame\ 3.png');
    .inner{
        flex-direction: column;
    }
}
.frame-4{
    background-image: url('../images/background/lg/Frame\ 4.png');
    .inner{
        flex-direction: column;
    }
}

.docSlider-button{
    width: 12px;
    height: 12px;
    background-color: #C4C4C4;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
    &.selected{
        width: 20px;
        height: 20px;
        background-color: #753A96;
        transition: all 0.5s;
    }
    @media only screen and (max-width: $breakpoint-sm){
        &.selected{
            width: 12px;
            height: 12px;
        }
    }
}

.card-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;

    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 25%;
        height: 510px;
        border: 4px solid #605CAE;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
        border-radius: 20px;
        padding: 54px 30px;
        img{
            width: 130px;
            height: auto;
        }
        .card-text{
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0.03em;
            color: #000000;
        }
        .title-wrapper{
            text-align: center;
        }

        .value-title{
            font-weight: 900;
            font-size: 40px;
            line-height: 110%;
            letter-spacing: 0.01em;
        }

        .value-price{
            font-weight: 900;
            font-size: 33px;
            line-height: 110%;
            letter-spacing: 0.03em;
            &:before{
                content: 'a partir de';
                font-size: 10px;
                display: block;
                text-align: center;
                font-family: 'Roboto';
                font-weight: normal;
            }
        }

        .value-text{
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0.03em;
            color: #000000;
        }
    }

    @media only screen and (max-width: $breakpoint-sm){
        flex-direction: column;
        align-items: center;
        .card-1{
            flex-direction: row;
            width: 100%;
            max-width: 300px;
            height: 145px;
            padding: 20px 25px;
            margin-bottom: 20px;

            img{
                width: 60px;
                margin-right: 20px;
            }
            .card-text{
                font-size: 14px;
                text-align: center;
            }

            .title-wrapper{
                padding-right: 10px;
                width: 50%;
                text-align: center;
            }

            .value-title{
                font-size: 20px;
            }
            .value-price{
                font-size: 20px;
            }
    
            .value-text{
                font-size: 12px;
                width: 50%;
            }
        }
    }

    .card-portfolio{
        display: flex;
        flex-direction: column;
    }

}

.internal-page{
    width: 100%;
    padding-top: $header-height;
    @media only screen and (max-width: $breakpoint-sm){
		padding-top: $header-height-sm;
	}
}

footer{
    &.default{
        background-image: url('../images/background/footer.png');
        height: 432px;
        width: 100%;
    }
    .container-default{
        height: 100%;
    }
    .content{
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .footer-nav{
        padding-top: 0px;
        margin-top: 0px;
        li{
            list-style: none;
            margin-bottom: 10px;
            a{
                font-family: 'Roboto';
                // font-weight: 900;
                font-size: 33px;
                line-height: 110%;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                text-transform: uppercase;
                
            }
            &.selected a{
                font-weight: 900;
            }
        }
    }

    @media only screen and (max-width: $breakpoint-sm){
        &.default{
            background-image: url('../images/background/footer.png');
            height: 205px;
        }
        .content{
            flex-direction: column;
            justify-content: space-around;
            
        }
		.area-1{
            display: none;
        }
	}

}